$primary-color: #f5ecd1;
$home-font: 'Maven Pro', sans-serif;

body {
	background-image:	   url('../img/elephantbg.jpg');
	background-position:   center center;
	background-repeat:     no-repeat;
	background-attachment: fixed;
	background-size:       cover;

}

h1 {
	font-family: $home-font;
	color: $primary-color;
	text-align: center;
	font-size: 5em;
	margin-top: 31%;

}

.subheading {
	font-family: $home-font;
	color: $primary-color;
	text-align: center;
	font-size: 2em;
}

p {
	color: $primary-color;
}
