<!-- Navigation -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
        </div>
        <!-- Navbar Brand -->
        <a class="navbar-brand" href="#">Kin Konnect</a>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- Right Nav -->
            <ul class="nav navbar-nav navbar-right">
                <li>
                <!-- Add or Join Family -->
                <a href="">Add/Join Family</a>
                </li>
                <!-- Logout -->
                <li>
                    <a href="/logout">Logout</a>
                </li> <!-- End logout -->
            </ul> <!-- /.navbar-right -->
        </div> <!-- /.navbar-collapse -->
    </div> <!-- /.container -->
</nav>

<div id="getstartedheader">
    {{#each family}}
    The {{this.name}}'s
    {{/each}}
</div>


<!-- Main Content -->
<div class="maincontent">
    <div class="col-md-8">
        {{#if chatroom}}
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Chatrooms</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        {{#each chatroom}}
                            <div class="col-xs-6 col-md-3">
                                <a href="#" class="thumbnail">
                                    {{this.name}}
                                </a>
                            </div>
                        {{/each}}

                    <p>Start by creating a chatroom to talk with your family!<p>

                <!--    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="http://placehold.it/200x100" alt="...">
                            Topic 2
                        </a>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="http://placehold.it/200x100" alt="...">
                            Topic 3
                        </a>
                    </div>

                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img src="http://placehold.it/200x100" alt="...">
                                Topic 3
                            </a>
                        </div>


                        <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                                <img src="http://placehold.it/200x100" alt="...">
                                Topic 4
                            </a>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        {{/if}}
        <!-- Add Chatroom Button -->
        <a href="/api/chatroom/create" type="button" class="btn btn-default">Create Chatroom</a>
    </div>
</div>

<!-- Side Bar -->
<div class="sidebar">
    <div class="col-sm-4 col-sm-offset-8">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Recent Posts</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Calendar</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Photo Album</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div>
</div>
