<!-- Navigation -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
        </div>
        <!-- Navbar Brand -->
        <a class="navbar-brand" href="#">Kin Konnect</a>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- Dropdown for families -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Family <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Family Name</a></li>
                        <li><a href="#">Another Family Name</a></li>
                        <li><a href="#">And Another Family Name </a></li>
                    </ul>
                </li> <!-- End /.dropdown -->
                <!-- Logout -->
                <li>
                    <a href="/logout">Logout</a>
                </li> <!-- End logout -->
            </ul> <!-- /.navbar-right -->
        </div> <!-- /.navbar-collapse -->
    </div> <!-- /.container -->
</nav>

<div id="header">
    <h2>Choose a Family to Visit</h2>
</div>



<!-- Main Content -->
<div class="maincontent">
    <form action="/api/family/getone" method="GET">

        <div class="form-group">
            <input type="hidden" name="personId" value="{{person.id}}">
            <label for="category">Select Family To Visit:</label>

            <div class="form-group">
                <select class="form-control" name="familyId" id="family" required="required" aria-required="true" style="width: 300px">
                    <option value="" disabled selected>Select Family</option>
                    {{#each family}}
                        <option value={{this.id}}>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>

            <button class="btn btn-primary" type="submit">FAMILY TIME!</button>
        </div>
</div>

<!-- Side Bar -->
<div class="sidebar">
    <div class="col-sm-4 col-sm-offset-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Recent Posts</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Calendar</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Photo Album</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div>
</div>

