<!-- Navigation -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
        </div>
        <!-- Navbar Brand -->
        <a class="navbar-brand" href="#">Kin Konnect</a>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- Dropdown for families -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Family <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Family Name</a></li>
                    <li><a href="#">Another Family Name</a></li>
                    <li><a href="#">And Another Family Name </a></li>
                  </ul>
                </li> <!-- End /.dropdown -->
                <!-- Logout -->
                <li>
                    <a href="/logout">Logout</a>
                </li> <!-- End logout -->
            </ul> <!-- /.navbar-right -->
        </div> <!-- /.navbar-collapse --> 
    </div> <!-- /.container -->
</nav>

<div id="header">
    <h2>Add Family Name</h2>
</div>


<!-- Main Content -->
<div class="maincontent">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Chatrooms</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="http://placehold.it/200x100" alt="...">
                            Topic 1
                        </a>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="http://placehold.it/200x100" alt="...">
                            Topic 2
                        </a>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="http://placehold.it/200x100" alt="...">
                            Topic 3
                        </a>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="http://placehold.it/200x100" alt="...">
                            Topic 4
                        </a>
                    </div>

                    <!-- Add Chatroom Button -->
                    <a href="/api/chatroom/create" type="button" class="btn btn-default">Create Chatroom</a>
                  
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Side Bar -->
<div class="sidebar">
    <div class="col-sm-4 col-sm-offset-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Recent Posts</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Photo Album</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Calendar</h3>
            </div>
            <div class="panel-body">
                <iframe id='cv_if5' src='http://cdn.instantcal.com/cvir.html?id=cv_nav5&file=http%3A%2F%2Fwww.instantcal.com%2Ftest.ics&theme=XGY&ccolor=%23ffffc0&dims=1&gtype=cv_monthgrid&gcloseable=0&gnavigable=1&gperiod=month&itype=cv_simpleevent' allowTransparency=true scrolling='no' frameborder=0 height=300 width=375></iframe>
            </div>
        </div>
    </div>
</div>